.paginator_helper{
	text-align:center;
	margin:5px 0px;
}
.paginator_helper a{
	margin:0px 5px;
}

.paginator_counter{
	display:inline-block;
	float:left;
}
.paginator_counter span{
	font-weight:bold;
}

.paginator_helper a.paginator-active{
	color:red;
}