@media screen and (max-width: 1000px) {
	.container-fluid.content-bar{
		margin:10px 0px;
	}
    .container-fluid{
		min-width:400px;
	}
	.container-fluid.content-bar > .row > .col{
		min-width:350px;
	}
}